<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>A propos!</h1>
        <p class="lead">
          Cette journée est une journée de conférences et d'échanges sur la sécurité informatique. Elle est à destination des étudiants mais également des experts du domaine.
        </p>
        <p class="lead">
          Durant cette journée, des intervenants viendront proposer des conférences sur des sous-thèmes variés traitant de la sécurité en informatique comme la cryptographie, les exploits, l'exploitation de vulnérabilités...
        </p>
        <p class="lead">
          A la fin de la journée seront présentés les challenges que nous proposons. Les participants auront 4 semaines pour les résoudre. Les lots comprennent notamment du crédit OVH (Serveurs dédiés, CDN, Vrack, cloud privé, VPS, licence, nom de domaine .ovh et autre) et des t-shirts.
        </p>
        <p class="lead">
        Dans un soucis d'organisation, nous demandons aux participants de s'inscrire à cette journée via <a href="https://docs.google.com/forms/d/e/1FAIpQLSe1eCYZk_td5nYQljqeD46EtDjGg5B0pPTkbjySf3X9E6s4aQ/viewform">ce lien</a>. Il sera impossible d'entrer et de sortir dans l'amphithéâtre en dehors des pauses spécifiées dans le programme
        </p>
      </div>
    </div>

    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
