<section id="challenge" class="challenge">
  <div class="container">
  	<div class="row">
  		<h1 class="text-center">Challenge</h1>
  		<div class="col-lg-12">
			<p class="lead">
				Les challenges sont accessibles à l'adresse suivante : <a href="http://security.fil.cool">security.fil.cool</a>
			</p>
			<br/>
			<h2 class="text-center">Règlement</h2>
			<p class="lead">
				<ul>
					<li>Les challenges sont à faire seul, par 2 ou 3 maximum</li>
					<li>Il est impossible de cumuler plusieurs lots</li>
					<li>Pour les étudiants du Master Informatique de Lille ayant suivi le cours de PAC, vous n'aurez pas de lots si vous remportez le premier ou second challenge</li>
					<li>Il n'y a pas d'égalité possible. L'heure de réception du mail fait foi</li>
					<li>Les challenges sont ouverts pour une durée de 28 jours</li>
				</ul>
			</p>
			<br/>
			<h2 class="text-center">Lots</h2>
			<p class="lead">
				<ul>
					<li>Challenge facile :
						<ul>
							<li>Vainqueur : 50€ crédit OVH + t-shirt OVH Bug Bounty</li>
						</ul>
					</li>
					<li>Challenge moyen :
						<ul>
							<li>Vainqueur : 60€ crédit OVH + t-shirt OVH Bug Bounty</li>
						</ul>
					</li>
					<li>Challenge difficule
						<ul>
							<li>Vainqueur : 160€ crédit OVH + t-shirt OVH Bug Bounty</li>
							<li>Second : 130€ crédit OVH + t-shirt OVH Bug Bounty</li>
							<li>Troisième : 100€ crédit OVH + t-shirt OVH Bug Bounty</li>
              <li>hello from User</li>
						</ul>
					</li>
				</ul>
			</p>
  		</div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
