<header id="top" class="header">
  <div class="text-vertical-bottom" style="background: #212121;">
   <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSe1eCYZk_td5nYQljqeD46EtDjGg5B0pPTkbjySf3X9E6s4aQ/viewform" target="_blank" class="btn btn-dark btn-lg">Je m'inscris</a>
    <br /> -->
    <div class="text-vertical-bottom">
      <iframe style="margin-left:30px;" src="https://free.timeanddate.com/countdown/i61anloe/n336/cf12/cm0/cu4/ct0/cs1/ca1/co0/cr0/ss0/cacb8166b/cpc090/pct/tcfff/fn3/fs170/szw448/szh189/iso2018-02-08T08:00:00/pa10" allowtransparency="true" frameborder="0" width="300" height="72"></iframe>
    </div>
    <a href="#about" class="btn btn-dark btn-lg">Plus d'information</a>
  </div>
</header>
