<section id="map" class="map">
  <div class="container">
    <h2 class="text-center">Lieu - Date</h2>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <br />
        <img src="img/plan_detaille.png" class="vertically-down-40"/>
      </div>
      <div class="col-md-12 col-lg-4 lead">
        <br />
        <p class="text-justify">La Security Day 2017 aura lieu à l'IUT A de l'Université de Lille 1. Situé à Villeneuve d'Ascq et proche du Stade Pierre Mauroy, l'IUT A est très bien desservi par les transports en commun (<i>Métro Ligne jaune : Cité Scientifique</i>) avec <b>10 minutes de trajet depuis la Gare Lille Flandres</b> ou 15 depuis la Gare Lille Europe.
        </p>
        <p class="text-justify">L'IUT est également bien desservi par les axes routiers, et il est très facile d'y arriver depuis Paris (A1), Valenciennes (A23) ou Lille (D146).</p>
        <br/>
        <p class="text-justify">La journée prendra place début février 2017.</p>
      </div>
    </div>
    <!-- end rowwww --> 
  </div>
  <!-- end container -->
</section>