<section id="map" class="map">
  <div class="container">
    <h1 class="text-center">Lieu - Date</h1>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <br />
        <img src="img/plan_detaille.png" class="vertically-down-40"/>
      </div>
      <div class="col-md-12 col-lg-4 lead">
        <br />
        <p class="text-justify">La journée prendra place le <b>jeudi 8 février</b> 2018, au <b>campus Universitaire de Lille 1</b>.</p>
        <br/>
        <p>Situé à Villeneuve d'Ascq et proche du Stade Pierre Mauroy, le campus est très bien desservi par les transports en commun (<i>Métro Ligne jaune : Cité Scientifique</i>) avec <b>10 minutes de trajet depuis la Gare Lille Flandres</b> ou 15 depuis la Gare Lille Europe.</p>
      </div>
    </div>
    <!-- end rowwww -->
  </div>
  <!-- end container -->
</section>
