 <section id="programme" class="programme">
  <div class="container">
  	<div class="row">
  		<h1 class="text-center">Programme</h1>
  		<div class="col-lg-12">
			<p class="lead">
				Vous êtes les bienvenus à partir de 8h30. Les conférences commenceront à 8h30 et une pause café est prévue à 10h15. Nous devrions avoir fini pour 12h30 au plus tard.
			</p>
  		</div>
      	<div>
        	<ul>
        		<li>
        			<h3>8h30 - 9h15 : Une remise en perspective de la cybersécurité dans l'histoire de l'informatique</h3>
        			<p>
        				<i>par Olivier Sierocki (ANSII)</i>
        			</p>
        		</li>
        		<li><h3>9h15 - 10h00 : Présentation de Vulture, un firewall applicatif qui détecte les anomalies comportementales et protège les applications web des attaques internes</h3>
		        		<p>
		        			<i>par Kévin Guillemot et Olivier de Regis (Advens)</i>
		        		</p>
		        </li>
		        
            <li><h3>10h00 - 10h15 : Petite pause-café</h3></li>
			<li>
		        	<h3>10h15 - 11h00: Détection d'intrusion dans les IOT (internet of thing) : pistes et perspectives. Il vous parlera également du club de sécurité informatique de l'université de Lille dont il est un membre très actif.</h3>
		          	<p>
		              	<i>par Etienne Helluy-Lafont (Doctorant à l'université de lille 1)</i>
		          	</p>
		        </li>
			<li>
		        	<h3>11h00 - 11h45 : Présentation de l'hyper-v, un système de virtualisation microsoft</h3>
		        		<p>
		          		<i>par Thierry Doré (Quarkslab)</i>
		        		</p>
		        </li>
		        	
		        <li>
		        	<h3>11h00 - 12h00: Détection d'intrusion dans les IOT (internet of thing) : pistes et perspectives. Il vous parlera également du club de sécurité informatique de l'université de Lille dont il est un membre très actif.</h3>
		          	<p>
		              	<i>par Etienne Helluy-Lafont (Doctorant à l'université de lille 1)</i>
		          	</p>
		        </li>
        	</ul>
 	 	</div>
    <div>
      <p class="lead">La journée sera clôturée aux environs de 12h30.</p>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
