 <section id="programme" class="programme">
  <div class="container">
  	<div class="row">
  		<h1 class="text-center">Programme</h1>
  		<div class="col-lg-12">
			<p class="lead">
				Vous êtes les bienvenus à partir de 8h30, les conférences commenceront à 8h30. Une pause café est prévue à 10h15 nous devrions avoir fini pour 12h30 au plus tard.
			</p>
  		</div>
      	<div>
        	<ul>
        		<li>
        			<h3>8h30 - 9h15 : Une remise en perspective de la cybersecurité dans l'histoire de l'informatique</h3>
        			<p>
        				<i>par Olivier Sierocki (ANSII)</i>
        			</p>
        		</li>
        		<li>
		        	<h3>9h15 - 10h00 : Présendation de hyper-v un systeme de virtualisation microsoft</h3>
		        		<p>
		          		<i>par Thierry Doré (Quarkslab)</i>
		        		</p>
		        	</li>
		        
            <li><h3>10h00 - 10h15 : Petite pause café</h3></li>
		        <li><h3>10h15 - 11h00 : Présentation de Vulture, qui est un firewall applicatif qui détecte les anomalies comportementales et protège les applications web des attaques internes
 </h3>
		        		<p>
		        			<i>(Advens)</i>
		        		</p>
		        	</li>
		        <li>
		        	<h3>11h00 - 12h00: Detection d'intrusion dans les IOT (internet of thing). Pistes et perspectives</h3>
		          	<p>
		              	<i>par Etienne Helluy-Lafont (Doctorant à l'université de lille 1)</i>
		          	</p>
		        </li>
        	</ul>
 	 	</div>
    <div>
      <p class="lead">La journée sera clôturée au environ de 12h30.</p>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
