<section id="programme" class="programme bg-primary">
  <div class="container">
  	<div class="row">
  		<h2 class="text-center">Programme</h2>
  		<div class="col-lg-12">
			<p class="lead">
				Le programme est en cours de planification. Les conférences sont prévues toute la journée
			</p>
			<p class="lead">
				Vous êtes les bienvenus à partir de 8h20, les conférences commenceront à 8h45. Des pauses café sont prévues toutes les 2 conférences, à 10h10 et 15h40.
			</p>
  		</div>
      <div>
        <ul>

        <li>
        	<h3>8h45 - 9h25 : </h3></li>
        <li>
        	<h3>9h30 - 10h10 : </h3></li>
        <li>
        	<h3>10h30 - 11h10 : </h3></li>
        <li>
        	<h3>11h15 - 11h55 : </h3></li>
        <li>
          	<h3>14h15 - 14h55 : Sécurité de Wordpress et ses plugins</h3>
          		<p>Fonctionnement interne du CMS, historique côté sécurité, fonctions dangereuses, exemples d'exploitation de vulnérabilités avancées
            		<br/>
            		<i>par Thomas Chauchefoin (Synacktiv)</i>
          		</p>
          	</li>
        <li>
        	<h3>15h - 15h40 : Attacking Games for Fun and Profit</h3>
        		<p>Rétro-ingénierie appliqué aux jeux vidéos. Développement et protection contre les logiciels de triche
        			<br/>
        			<i>par Dimitri Fournier (Quarkslab)</i>
        		</p>
        	</li>
        <li>
        	<h3>16h - 16h40 : </h3>
        </li>
        <li>
        	<h3>16h45 - 17h25 : </h3>
        </li>
  	</div>
    <div>
      <p class="lead">La journée sera clôturée à 17h30 par un pot de remerciement aux intervenants, sponsors et participants</p>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>