<section id="sponsors" class="sponsors" style="height: 400px">
  <div class="container">
      <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <h3 class="text-center">Nos sponsors</h3>
        <div class="col col-md-6 col-lg-6">
          	<img src="https://media.licdn.com/media/p/1/000/1f5/22b/35e2635.png" width="70%" height="70%" style="position: relative; top : 20px"/>
        </div>
        <div class="col col-md-6 col-lg-6">
          	<img src="https://www.ovh.com/fr/news/logos/normal/logo-ovh-150DPI.png" width="70%" height="70%"/>
        </div>
    </div>

  </div>
</section>