<section id="sponsors" class="sponsors">
  <div class="container">
      <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <h1 class="text-center">Nos sponsors</h1>
        <div class="col col-md-6 col-lg-6">
          	<img src="https://www.ssi.gouv.fr/uploads/2014/07/anssi_visuel_square500.png" width="90%" height="90%" style="vertical-align: middle;"/>
        </div>
        <div class="col col-md-6 col-lg-6">
          	<img src="https://avatars1.githubusercontent.com/u/3357711?s=200&v=4" width="70%" height="70%" style="vertical-align: middle;"/>
        </div>
        <div class="col col-md-6 col-lg-6">
          	<img src="https://www.advens.fr/sites/default/files/public/styles/full_actualite/public/actualites/advens-a-15-ans_0.png" width="70%" height="70%" style="vertical-align: middle;"/>
        </div>
    </div>

  </div>
</section>
