.container {
   padding-top: 70px;
}

.main-titre {

	font-family: Bookman Old Style;
	font-size: 110px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 120px;
	text-align: center;
	margin-top: 5vh;

}

.main-description {

	font-family: Arial;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 35px;
}


.section-titre {
  font-family: Bookman Old Style;
  font-size: 65px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 70px;
  text-align: center;

  margin-top: 5vh;
}

.sous-titre {
	font-family: Bookman Old Style;
  	font-size: 35px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 500;
  	line-height: 40px;
  	text-align: center;

}

.vertically-down-30 {
	margin-top: 30vh; /* poussé de 40% de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.vertically-down-40 {
	margin-top: 40vh; /* poussé de 40% de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.vertically-center {
  margin-top: 50vh; /* poussé de 40% de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

p {
	font-family: Arial;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30px;
  	text-indent: 40px;
  	text-align:justify;

}




.navbar-default {
  background-color: #0069c4;
  border-color: #0069c4;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #0057a2;

}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #0069c4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #0057a2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #0057a2;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #0057a2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0057a2;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0057a2;
}
.navbar-default .navbar-toggle {
  border-color: #0057a2;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0057a2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0057a2;
  }
}